
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 240, 240);
}

/* Navbar Styling */
header {
  background-color: white;
}

.navbar__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.navbar__items a {
  text-decoration: none;
  padding: 0 10px;
}

.navbar__items a, .navbar__items h1{
  color: black;
}

.navbar__items a:hover{
  text-decoration: underline;
}

.navbar__item:first-child a:hover{
  text-decoration: none;
}

/* Home page styling */
.home {
  max-width: 1000px;
  margin: 3rem auto;
  position: relative;
}

.home h2 {
  margin-left: 8px;
}


.button a {
  position: absolute;
  right: 10px;
  top: -2px;
  padding: 4px 8px;
  background-color: white;
  border: 2px solid rgb(60, 120, 1);
  color: rgb(60, 120, 1);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.button a:hover {
  background-color: rgb(60, 120, 1);;
  border: 2px solid rgb(60, 120, 1);
  color: white;
}
/* workout details  */

.workout__details {
  padding:10px 5px;
}

.workout__container {
  background-color: white;
  margin: 0 5px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
  position: relative;
}

.workout__container h4 {
  color: darkkhaki;
  margin-bottom: 10px;
}
.workout__container p {
  margin-bottom: 4px;
}

.workout__container span {
  position: absolute;
  border: 2px solid red;
  color: red;
  padding: 5px 10px;
  right: 10px;
  top: 5px;
  border-radius: 4px;
}

.workout__container span:hover {
  color: white;
  background-color: red;
}

/* Workout Page */

.workout__page {
max-width: 1000px;
margin: 3rem auto;
}


.workout__form h2 {
  text-align: center;
}

.workout__form form {
  width: 45%;
  margin: 0 auto;
  display: block;
}

.workout__form form > *{
  width: 100%;
}

.workout__form input {
  padding: 5px;
  margin-bottom: 20px;
}

/* Error Messages fields */
.Error {
  border:2px solid red;
  border-radius: 4px;
}

.workout__form p {
  margin-top: -15px;
  padding-bottom: 15px;
  color: red;
}


